.center{
   text-align: center; 
   margin-top: 36px;
   font-size: 18px;

   .btn-others{
      background-color: rgb(52, 119, 139);
   }

   .delete{
      margin-right: 40px;
      margin-left: 40px;
      color: white;
   }

   .btn-operators{
      background-color: rgb(205, 165, 55);
   }

   .btn-numbers{
      background-color: #b7b4bc;
   }
}

