.screen{
    background-color: #928e98;
    height: 100px;
    margin-top: 16px;
    border-radius: 16px;
    margin-left: 12px;
    margin-right: 12px;
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}